#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;  
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.read-the-docs {
  color: #888;
}
table {
  border: 2px solid white;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid white;
  text-align: center;
  padding: 8px
}
